<!DOCTYPE html>
<html>
  <head>
    <title>CDPSfy</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Gravitas+One' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  	<div id="header">
    	<h1><a href="/">CDPSfy</a></h1>
  	</div>
    <div id="container">
	    <div id="nav-bar">
	    	<ul>
	    		<li><a href="/tracks">My tracks</a></li>
	    		<li><a href="/tracks/new">Upload new track</a></li>
	    	</ul>
	    </div>
	    <div id="container-body"><%- body %></div>
    </div>
  </body>
</html>
