

<div class="container">
	<div id="formUp" class="col-xs-12 col-md-6 col-md-offset-3 ">
		<form action="/tracks" method="post" enctype="multipart/form-data">  
			<label class=" upload_field"><h1>Upload a new track:</h1></label>
			<br>
			<input class="  upload_field" type="file" name="track"/>
			<br>
			<br>
			<button class="btn btn-default hint upload_field" type="submit">Upload</button>
			<span class="hint upload_field">Supported files: MP3, Wav, and Ogg</span>
		</form>

	</div>
</div>
